---
layout: page
title: Weimin's Awards
permalink: /award/
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<ul class="award">
  {% for post in site.posts %}
    {% unless post.next %}
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% endif %}
        {{ post.title }}
      </a>
      <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li>
  {% endfor %}
</ul>

<!-- The Awards Section -->
  <div class="w3-container w3-padding-32" id="award">
    <h2>Awards</h2>
    <p><li> 2019 to 2024, Half-tuition scholarship, the Chinese University of Hong Kong (Shenzhen)</p>
    <p><li> 2021, Talent of PhD Research Program Award of Shenzhen Institute of Artificial Intelligence and Robotics for Society (AIRS)</p> 
    <p><li> 2020, Best Application Paper Finalist Award of IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</p>               
    <p><li> 2019, Best Paper FinalList Award of IEEE International Conference on Real-time Computing and Robotics (RCAR)</p>
    <p><li> 2019, Best Paper FinalList Award of IEEE International Conference on Robotics and Biomimetics (ROBIO)</p>
    <p><li> 2016, Second prize of academic year scholarship</p>
    <p><li> 2016, The third prize of Central China Division of Beijing Oriental Enterprise (BOE) Innovation Competition</p>
  </div>  
